<title>Certificado</title>
<h2>Certificado</h1>
<p>
  <strong>Nome:</strong>
  <%= @tree.name %>
</p>

<p>
  <strong>Solicitante:</strong>
  <%= @tree.requester %>
</p>

<p>
  <strong>Espécie:</strong>
  <%= @tree.species %>
</p>

<p>
  <strong>Data de Plantio:</strong>
  <%= @tree.date_planting.strftime("%d/%m/%Y") %>
</p>

<p>
  <strong>Quem plantou:</strong>
  <%= @tree.who_planted %>
</p>

<p>
  <strong>Nome que já possuiu ou atual:</strong>
  <%= @tree.old_name %>
</p>

<p>
  <strong>Endereço:</strong>
  <%= @tree.endereco %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @tree.lat %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @tree.long %>
</p>

<p>
  <strong>Código de Identificação:</strong>
  <%= @tree.numbering %>
</p>

<p>
  <strong>Autorização:</strong>
  <%= @tree.authorization %>
</p>

<p>
  <strong>Data de solicitação:</strong>
  <%= @tree.date_solicitation.strftime("%d/%m/%Y") %>
</p>