  <script>
      var map;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map-canvas'), {
          center: {lat: -15.7976667, lng: -47.886083799999994},
          zoom: 4
        });
       var geocoder = new google.maps.Geocoder();
       google.maps.event.addListener(map, 'click', function(event) {
        geocoder.geocode({'latLng': event.latLng}, function(results, status) {
          if (status == google.maps.GeocoderStatus.OK) {
            if (results) {
              console.log(results[0].address_components)
              var number
              var street 
              var district
              var city 
              var state 
              var country
              
              country = state = city = district = street = number = "Sem dados"
              //console.log(results[0].address_components[6].long_name)
              //console.log(results[0].address_components[7].long_name)
              //console.log(results[0].address_components[8].long_name)
              
              for(var i = 0; i<results[0].address_components.length; i++){
                if(results[0].address_components[i].types[0] == "street_number"){
                  number = results[0].address_components[i].short_name
                }else{
                  if(results[0].address_components[i].types[0] == "route"){
                    street = results[0].address_components[i].short_name
                  }else{
                    if(results[0].address_components[i].types[0] == "country"){
                      country = results[0].address_components[i].long_name      
                    }else{
                      if(results[0].address_components[i].types[0] == "administrative_area_level_1"){
                        state = results[0].address_components[i].short_name  
                      }else{
                        if(results[0].address_components[i].types[0] == "administrative_area_level_2"){
                          city = results[0].address_components[i].short_name                   
                        }else{
                          if(results[0].address_components[i].types[0] == "political"){
                            district = results[0].address_components[i].short_name
                          }
                        }
                      }
                    }
                  }
                }
              }

              var latitude = results[0].geometry.location.lat();
              var longitude = results[0].geometry.location.lng();

              swal({
                title: "Você tem certeza que deseja escolher este endereço?",
                text: street + ", " + district + " - " + state + ", " + city + " " + country,
                icon: "warning",
                buttons: ["Cancelar", "Confirmar"],
                dangerMode: false,
              })
              .then((willDelete) => {
                if (willDelete) {
                  var form_lat = document.getElementById('tree_lat')
                  var form_long = document.getElementById('tree_long')
                  var form_street = document.getElementById('tree_street')
                  var form_country = document.getElementById('tree_country')
                  var form_state = document.getElementById('tree_state')
                  var form_city = document.getElementById('tree_city')
                  var form_number = document.getElementById('tree_number')
                  var form_district = document.getElementById('tree_district')
                  
                  form_district.value = district
                  form_number.value = number
                  form_city.value = city
                  form_state.value = state
                  form_country.value = country
                  form_street.value = street
                  form_lat.value = latitude
                  form_long.value = longitude
                  swal("Endereço selecionado com sucesso!", {
                    icon: "success",
                  });
                }
              });
            }
          }
        });
      });
    }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCbNFJ-u2giKjZODirkdXz8dUKW1S3xjjg&callback=initMap"
    async defer></script>
  
<%= form_for(@tree) do |f| %>
  <% if @tree.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tree.errors.count, "error") %> prohibited this tree from being saved:</h2>

      <ul>
      <% @tree.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Nome" %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label "Quem requisitou o cadastro?" %><br>
    <%= f.text_field :requester %>
  </div>
  <div class="field">
    <%= f.label "Nome da espécie?" %><br>
    <%= f.text_field :species %>
  </div>
  <div class="field">
    <%= f.label "Data do plantio" %><br>
    <%= f.date_select :date_planting %>
  </div>
  <div class="field">
    <%= f.label "Quem plantou?" %><br>
    <%= f.text_field :who_planted %>
  </div>
  <div class="field">
    <%= f.label "Título ou nome que já possuí ou possuiu" %><br>
    <%= f.text_field :old_name %>
  </div>
  <div class="field">
    <%= f.label "Rua" %><br>
    <%= f.text_field :street %>
  </div>
  <div class="field">
    <%= f.label "Bairo / Distrito" %><br>
    <%= f.text_field :district %>
  </div>
  <div class="field">
    <%= f.label "Complemento" %><br>
    <%= f.text_field :number %>
  </div>
  <div class="field">
    <%= f.label "Cidade" %><br>
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label "Estado" %><br>
    <%= f.text_field :state %>
  </div>
  <div class="field">
    <%= f.label "País" %><br>
    <%= f.text_field :country %>
  </div>
  
  
  <div class="field">
    <%= f.hidden_field :lat %>
  </div>
  <div class="field">
    <%= f.hidden_field :long %>
  </div>
  <div class="field">
    <%= f.hidden_field :numbering %>
  </div>


  <div class="field">
    <%= f.label "Autorização pré-cadastro cred carbono" %><br>
    <%= f.text_field :authorization %>
  </div>
  <div class="field">
    <%= f.label "Data da solicitação" %><br>
    <%= f.date_select :date_solicitation %>
  </div>
  <div id="map-canvas"></div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
