<p id="notice"><%= notice %></p>

<h1>Lista de Árvores cadastradas</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Quem resquisitou?</th>
      <th>Espécie</th>
      <th>Data de plantio</th>
      <th>Quem plantou</th>
      <th>Nome antigo ou atual</th>
      <th>Endereço</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Código</th>
      <th>Autorização carbono</th>
      <th>Data da solicitação</th>
      <th>Opções</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @trees.each do |tree| %>
      <tr>
        <td><%= tree.name %></td>
        <td><%= tree.requester %></td>
        <td><%= tree.species %></td>
        <td><%= tree.date_planting.strftime("%d/%m/%Y") %></td>
        <td><%= tree.who_planted %></td>
        <td><%= tree.old_name %></td>
        <td><%= tree.endereco %></td>
        <td><%= tree.lat %></td>
        <td><%= tree.long %></td>
        <td><%= tree.numbering %></td>
        <td><%= tree.authorization %></td>
        <td><%= tree.date_solicitation.strftime("%d/%m/%Y") %></td>
        <td>
          <%= link_to 'Show', tree %>
          <%= link_to 'Edit', edit_tree_path(tree) %>
          <%= link_to 'Destroy', tree, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Cadastrar árvore', new_tree_path %>
