<!DOCTYPE html>
<html>
<head>
  <title>DeviseFacebookOauth</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>
<% if user_signed_in? %>
  <% if !current_user.admin? && current_user.provider.blank? %>
    <%= link_to "Edit profile", edit_user_registration_path %> |
  <% end %>
  <%= link_to "Árvores cadastradas", trees_path %> |
  <%= link_to "Logout", destroy_user_session_path, method: :delete  %>
<% else %>
  <%= link_to "Sign up", new_user_registration_path  %> |
  <%= link_to "Login", new_user_session_path  %>
<% end %>

<%= yield %>

</body>
</html>
